.page-footer {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 284px;
  padding: 42px 72px 0 72px;
  background-color: $secondary-color;

  @media (min-width: $breakpoint-tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 127px;
    padding: 0 15px 0 20px;
  }

  @media (min-width: $breakpoint-desktop) {
    min-height: 197px;
    justify-content: space-around;
  }
}
