.page-header {
  background-color: $secondary-color--darken;
  background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 23%, transparent 23% 40%), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 0 0, 0 top;

  @media (min-width: $breakpoint-tablet) {
    background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 30%, transparent 30% 40%), url("../img/bg-back-tablet@1x.jpg");
    background-position: 0 0, 50% top;
    min-height: 180px;
  }

  @media (min-width: $breakpoint-desktop) {
    padding: 0 130px;
    background-image: linear-gradient(to bottom, $secondary-color--darken-translucent 24%, transparent 24% 40%), url("../img/bg-back-desktop@1x.jpg");
    min-height: 320px;
  }
}
